*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: #222;
    color: white;
    overflow-x: hidden;
}

/*Class que só vai conter os modelos dos alarmes*/
.models{
    display: none;
}

/*Criação do Modelo da página do novo Alarme*/
.new-alarm{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.new-alarm--container{
    width: 60%;
    max-width: 400px;
    height: 80%;
    border-radius: 10px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 3vw;
}

/*Titulo*/
.new-alarm--title{
    position: absolute;
    font-size: 18px;
    left: 20px;
    top:20px;
}

/*Design das horas*/
.new-alarm--timer{
    width: 100%;
    height: 100px;
    margin-top: 120px;
    background-color: #222;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.new-alarm--timer:focus, .new-alarm--timer:hover{
    border-bottom: 2px solid orange;
}
.new-alarm-timer--hour,
.new-alarm-timer--minute,
.new-alarm-timer--two-points{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}
.new-alarm-timer--hour{
    position: relative;
}
.new-alarm-timer--hour:hover,
.new-alarm-timer--minute:hover{
    background-color: #444;
}
.new-alarm-timer--two-points{
    width: 5%;
}

.new-alarm--hour-container, .new-alarm--minute-container{
    width: 30%;
    height: 98%;
    position: relative;
}

/*Design dos botões das horas*/
.new-alarm-timer--hour--up,
.new-alarm-timer--hour--down,
.new-alarm-timer--minute--up,
.new-alarm-timer--minute--down{
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: #888;
}
.new-alarm-timer--hour--up:hover,
.new-alarm-timer--hour--down:hover,
.new-alarm-timer--minute--up:hover,
.new-alarm-timer--minute--down:hover{
    color: white;
}
.new-alarm-timer--hour--up{
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-alarm-timer--hour--down{
    top: 112px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.new-alarm-timer--minute--up{
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-alarm-timer--minute--down{
    top: 112px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

/*Design da caixa de Texto para o Nome do Alarme*/
.new-alarm--name-container{
    width: 100%;
    height: 35px;
    margin-top: 15%;
    display: inline-flex;
    align-items: center;
}
.new-alarm--name{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5) ;
    background-color: #444;
    font-size: 16px;
    padding-left: 10px;
    color: white;
    margin-left: 15px;
}
.new-alarm--name:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid orange ;
}
.new-alarm--name-container label{
    font-size: 22px;
}

/*Design da CheckBox*/
.new-alarm--checkbox-container{
    width: 100%;
    margin-top: 30%;

}
.new-alarm--repeat{
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    background-color: transparent;
    margin-left: 11px;
}
.new-alarm--repeat:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 20px;
    height: 20px;
    background-color: #333;
    border: 1px solid orange;
}
.new-alarm--repeat:checked::after{
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: -4px;
    left: 9px;
}


/*Design dos botões da Semana*/
.new-alarm--days--container{
   width: 100%;
   height: 10%;
   margin-top: 15%;
}
.new-alarm--days--container ul{
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.new-alarm--days--container ul li{
    list-style: none;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid orange;
    cursor: pointer;
}
.new-alarm--days--container ul li:hover{
    color: black;
    background-color: orange;
}
.new-alarm--button--container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: 5%;
}
.new-alarm--button-save, .new-alarm--button-cancel{
    flex: 1;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    margin: 0px 10px;
    border-radius: 15px;
    cursor: pointer;
}
.new-alarm--button-save{
    background-color: orange;
    color: black;
}

/*Div que vai apresentar na tela de forma organizada os alarmes criados*/
.stage-for-alarms{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px;
    gap: 1vw;
    padding: 3vw;
}

/*Modelo do Alarme que vai servir de base na criação dos mesmos*/
.alarm-object{
    width: 100%;
    height: 200px;
    min-width: 400px;
    max-width: 49vw;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: 200ms ease-in-out;
}
/*Animação de hover*/
.alarm-object:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

/*Hora apresentada*/
.alarm-object--hour{
    font-size: 65px;
}

/*Botão OnOf*/
.alarm-object--on-off{
position: absolute;
right: 20px;
top: 20px;
width: 50px;
height: 22px;
border-radius: 15px;
border: none;
transition: 200ms All ease-in-out;
}
/*Estilo do Botão caso esteja On*/
.alarm-object--on-off.on{
    background-color: orange;
}
.alarm-object--on-off.on::after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: black;
}

/*Estilo do botão caso esteja off*/
.alarm-object--on-off.off{
   background-color: #333;
   border: 1px solid rgb(255, 255, 255, 0.3);
}
.alarm-object--on-off.off::after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: white;
    transform: translate(-25px, 0);
}

/*Tempo que falta para o alarme tocar*/
.alarm-object--time-left{
    font-size: 12px;
}
.alarm-object--time-left::before{
    content: "🔔 em ";
}

/*Nome do Alarme*/
.alarm-object--name{
    margin-top: 15px;
    font-size: 18px;
}

/*Design dos dias da semana*/
.alarm-object--week-container{
    margin-top: 20px;
}
.alarm-object--week-container li{
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    list-style: none;
    margin-right: 8px;
    cursor: pointer;
}
.alarm-object--week-container li.selected{
    background-color: orange;
    color: black;
}

.add-edit--container{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 0px 0px 5px #11111147;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.add-edit--add, .add-edit--edit{
    width: 40%;
    height: 90%;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
    font-weight: 100;
    cursor: pointer;
}
.add-edit--edit{
    font-size: 20px;
}
.add-edit--add:hover, .add-edit--edit:hover{
    background-color: #333;
}
