*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: #222;
    color: white;
}

/*Criação do Modelo da página do novo Alarme*/
.new-alarm{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-alarm--container{
    width: 40%;
    max-width: 450px;
    height: 80%;
    border-radius: 10px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/*Titulo*/
.new-alarm--title{
    position: absolute;
    font-size: 18px;
    left: 20px;
    top:20px;
}

/*Design das horas*/
.new-alarm--timer{
    width: 80%;
    height: 80px;
    margin-top: 90px;
    background-color: #222;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.new-alarm-timer--hour,
.new-alarm-timer--minute,
.new-alarm-timer--two-points{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    text-align: center;
    line-height: 78.4px;
    font-size: 30px;
}
.new-alarm-timer--hour{
    position: relative;
}
.new-alarm-timer--hour:hover,
.new-alarm-timer--minute:hover{
    background-color: #444;
}
.new-alarm-timer--two-points{
    width: 5%;
}

.new-alarm--hour-container, .new-alarm--minute-container{
    width: 30%;
    height: 98%;
    position: relative;
}

/*Design dos botões das horas*/
.new-alarm-timer--hour--up,
.new-alarm-timer--hour--down,
.new-alarm-timer--minute--up,
.new-alarm-timer--minute--down{
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: #888;
}
.new-alarm-timer--hour--up:hover,
.new-alarm-timer--hour--down:hover,
.new-alarm-timer--minute--up:hover,
.new-alarm-timer--minute--down:hover{
    color: white;
}
.new-alarm-timer--hour--up{
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-alarm-timer--hour--down{
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.new-alarm-timer--minute--up{
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-alarm-timer--minute--down{
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

/*Design da caixa de Texto para o Nome do Alarme*/
.new-alarm--name{
    width: 80%;
    height: 25px;
    border-radius: 7px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5) ;
    background-color: #444;
    font-size: 12px;
    padding-left: 10px;
    color: white;
    margin-top: 60px;
    position: relative;
}
.new-alarm--name:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid orange ;
}

/*Design dos botões da Semana*/
.new-alarm--days--container{
    
}


